*{
    padding: 0%;
    box-sizing: border-box;
    margin:0 ;
}
h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
    text-shadow: #555 1px 1px 2px;
    color:rgba(192, 17, 11, 0.922);
    font-style:italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bolder
}
.form{
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
select,input,textarea{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
option{
    padding: 10px;
}
#interests,#count,#level,button{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

button{
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: #4cae4c;
}
@media (max-width:768px){
    .form{
        padding: 10px;
    }
}
