*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    max-width:90%;
    margin:auto;
    padding:20px;
    font-family:'Times New Roman', Times, serif;
    font-style:italic;
}
.split{
    display:flex;
    justify-content:space-around;
    gap:20px;
}
h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-bottom: 30px;
    font-size:xx-large;
    text-shadow: #555 1px 1px 2px;
}
h3{
    margin-bottom: 15px;
    padding-left: 50px;
    text-shadow: #555 1px 1px 2px;
    font-size:x-large;
}
ul{
    list-style-type: disc;
    padding-left: 20px;   
    margin-bottom: 30px;
}
ul li{
    margin-top: 10px;
    color: #555;
    padding:5px 0;
    list-style-position: inside;
}
ul li a{
    text-decoration: none;
    color: #337ab7;
}
ul li a:hover{
    text-decoration: underline;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}
h2, h3{
    color:rgba(192, 17, 11, 0.922);
    font-style:italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bolder
}
.career-path,.courses{
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}
.courses{
    max-height: 600px;
    overflow-y: auto;
    max-width: 100%;
}
.career-graph img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

@media (max-width:768px){
    body{
        padding:10px;
    }
    .split{
        flex-direction: column;
    }
    h2{
        font-size:1.5em;
    }
    h3{
        font-size:1.2em;
        padding-left:20px;
    }
    ul{
        padding-left:10px;
    }
}